.card {
    padding: 20px 40px;

    border: 2px solid black;
    border-radius: 15px;

    display: flex;
    user-select: none;
}

.card__body {
    flex: 1;
    word-break: break-word;
}

.card__aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 150px;
    
}